{
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "extends": ["prettier", "prettier/react", "airbnb", "@vkontakte"],
    "plugins": ["babel", "import", "jsx-a11y", "react", "prettier", "react-redux", "react-hooks"],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "linebreak-style": "off", // Неправильно работает в Windows.
        "arrow-parens": "off", // Несовместимо с prettier
        "object-curly-newline": "off", // Несовместимо с prettier
        "no-mixed-operators": "off", // Несовместимо с prettier
        "arrow-body-style": "off", // Это - не наш стиль?
        "function-paren-newline": "off", // Несовместимо с prettier
        "no-plusplus": "off",
        "space-before-function-parent": "off", // Несовместимо с prettier

        "import/no-cycle": ["off", { "maxDepth": 1 }],
        "import/prefer-default-export": ["off", {}],

        "operator-linebreak": ["error", "after"],
        "no-use-before-define": ["off", {}],

        "react/jsx-wrap-multilines": [
            "error",
            {
                "declaration": "parens-new-line",
                "assignment": "parens-new-line",
                "return": "parens-new-line",
                "arrow": "parens-new-line",
                "condition": "parens-new-line",
                "logical": "ignore",
                "prop": "ignore"
            }
        ],
        "max-len": ["error", 120, 4, { "ignoreUrls": true }], // airbnb позволяет некоторые пограничные случаи
        "no-console": "warn", // airbnb использует предупреждение
        "no-alert": "error", // airbnb использует предупреждение
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "no-param-reassign": "off", // Это - не наш стиль?
        "radix": "off", // parseInt, parseFloat и radix выключены. Мне это не нравится.
        "consistent-return": "off",

        "react/require-default-props": "off", // airbnb использует уведомление об ошибке
        "react/forbid-prop-types": "off", // airbnb использует уведомление об ошибке
        "react/jsx-filename-extension": ["error", { "extensions": [".js"] }], // airbnb использует .jsx

        "prefer-destructuring": "off",

        "react/no-find-dom-node": "off", // Я этого не знаю
        "react/no-did-mount-set-state": "off",
        "react/no-unused-prop-types": "off", // Это всё ещё работает нестабильно
        "react/jsx-one-expression-per-line": "off",

        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",

        "jsx-a11y/no-static-element-interactions": "off",
        "jsx-a11y/click-events-have-key-events": "off",

        "prettier/prettier": ["error"]
    }
}
